body{
    background-color: rgb(41, 46, 45);
}

.wrapper {
    height: 670px;
    width: 800px;
    margin: 50px auto 0;
    position: relative;
}

.wrapper > input {
    display: none;
}

.slider {
    display: flex;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transition: all .5s ease;
}

.img1 { background-image: url(/cssMemSlider/cssMemSlider/mems/golosovoe.jpg); background-repeat: no-repeat;}
.img2 { background-image: url(/cssMemSlider/cssMemSlider/mems/ideya.jpg); background-repeat: no-repeat;}
.img3 { background-image: url(/cssMemSlider/cssMemSlider/mems/len.jpg);  background-repeat: no-repeat;}
.img4 { background-image: url(/cssMemSlider/cssMemSlider/mems/novopasit.jpg); background-repeat: no-repeat;}


.wrapper .control {
    position: relative;
    margin: 0 auto;
    left: 12%;
    margin-top: 35px;
}


.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 10px;
    position: relative;
    width: 12px;
    border-radius: 50%;
    background-color: turquoise;
}


.wrapper label{
    background-color:turquoise;
}
.wrapper .bottom label:after {
    border: 2px solid #000;
    content: " ";
    display: block;
    height: 16px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 16px;
    border-radius: 50%;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.slider_txt{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 500px;
}

#point1:checked ~ .bottom label:nth-of-type(1),
#point2:checked ~ .bottom label:nth-of-type(2),
#point3:checked ~ .bottom label:nth-of-type(3),
#point4:checked ~ .bottom label:nth-of-type(4){
 background: #000;
}

#point1:checked ~ .slider .img1,
#point2:checked ~ .slider .img2,
#point3:checked ~ .slider .img3,
#point4:checked ~ .slider .img4{
 opacity: 1;
 z-index: 1;
}

#point1:checked ~  .bottom .slider_txt .txt1,
#point2:checked ~  .bottom .slider_txt .txt2,
#point3:checked ~ .bottom .slider_txt .txt3,
#point4:checked ~ .bottom .slider_txt .txt4{
 opacity: 1;
 z-index: 1;
}

@media (max-width: 1024px){
    .wrapper {
        height: 500px;
        width: 100%;
        margin: 50px auto 0;
        position: relative;
    }
    .img1{
        background-size: 80%;
    }
    .img2{
        background-size: 80%;
    }
    .img3{
        background-size: 80%;
    }
    .img4{
        background-size: 80%;
    }
    .bottom{
        flex-direction: column-reverse;
    }
}